body{
  margin:0;
  padding:0;
}


.login-formulier{
   text-align:center;
    width:25%;
    height:250px;
    margin:250px 0px 0px 30%;
}

.login-input{
    width:70%;
    height:40px;
    margin:10px;
    text-align:center;
}


