body{
  background-image: url("../images/Softcolor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  font-family: 'Consolas';
  font-size: 20px;
  color: white;
}

* {box-sizing: border-box;}

#project{
  margin-top: -3%;
  padding: 2%;
}

#product{
  width: 100%;
  min-height: 600px;
}

.productblok {
	border: thin solid red;
	float: left;
	height: 400px;
	width: 400px;
	margin: 0 50px 0 50px;
}

.product_foto {
	width: 400px;
	height: 325px;
}

.product_text {
	width: 400px;
	height: 50px;
	
}

.responsive_size_images {
	  width: 400px
  }


#centerprojecten {
	border: thin solid yellow;
	width: 1525px;
	height: 450px;
	margin: 0 auto;
}


.parallax {
  background-image: url("../images/cool%20plaatje.jpg"); /* banner afbeelding home */
  height: 1000px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(77, 19, 209, 0.3) 0%, rgba(77, 19, 209, 0.5) 25%, rgba(77, 19, 209, 0.5) 75%, rgba(77, 19, 209, 0.3) 100%);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 20px;
  font-family: "Consolas";
  text-transform: uppercase;
  color: rgba(254, 250, 254, 0.8);
  font-size: 23px;
  font-weight: bolder;
  text-decoration: none;
  display: block;
}

nav ul li a:hover { /* Styling hover effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(189, 235, 22, 0.938);
}

.Projecten { /* Lay-out sector projecten op de home page */
    background-color: rgb(218, 20, 112);
    font-size: 35px;
    color: white;
    font-family: 'Consolas';
    height: 600px;
    width: 100%;
    text-align: center;
    padding: 3%;
}

.Projecten figure {
  margin: 1%;
}

.Projecten figcaption { /* Tekst onder het project*/
  font-size: 20px;
  text-align: center;
}

.figure_left {
  margin-left: 14%;
  float: left;
}

.figure_center {
  margin-left: 1%
  float: left;
}

.figure_right {
  margin-left: 1%;
  float: left;
}

input[type=text], select, textarea {
  width:100%;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid rgb(133, 138, 134);
  border-radius: 4px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=Verzenden] {
  font-size: 20px;
  background-color: #f51b38;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=Verzenden]:hover {
  background-color: #bdc00b;
}

.container {
  margin-left: 13%;
  margin-top: 0%;
  width: 75%;
  border-radius: 0px;
  background-color: #724c91;
  padding:20px;
}

.formtitel {
  text-align: center;
  font-size: 26px;
}

.Overmij {
  width: 100%;
  background-image:url("../images/Melissa1.png");
  color: #724c91;
  min-height: 350px;

  /* Create the parallax scrolling effect */
  background-color: white;
  background-attachment: fixed;
  background-position: bottom;
  background-position-y: 150px;
  background-repeat: no-repeat;
  background-size: 55%;
  margin-top: 0%;
  margin-bottom: 0%;
}

.Overmij H1 {
  font-size: 40px;
}

.Overmij_tekst {
  font-size: 20px;
  color: #91824c ;
  width: 50%;
  text-align: center;
  margin-left: 25%;
  mix-blend-mode: difference;
}

.footer {
  text-align: center;
  padding: 5%;
  background-color: rgb(231, 63, 21);
  color: white;
  height: 100%;
}

.footer iframe {
  margin-left: 5%;
}

.footer_right {
  margin-top: 5%;
  margin-right: 5%;
  float: right;
}

.button2 {
  font-family: 'Consolas';
  background-color: white; 
  color: black; 
  border: 3px solid #f00975;
  margin-left: 65%;
  font-size: 20px;
  width: 150px;
  height: 50px;
  transition-duration: 0.4s;
}

.button2:hover{
  background-color: #f00975; 
  color: white;
}

.pr0{
  width: 27%;
  margin-left: 2%;
}

.pr01{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 2%;
}

.pr1{
  width: 27%;
  margin-left: 36%;
  margin-top: -23.5%;
}

.pr11{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 36%;
}

.pr2{
  width: 27%;
  margin-left: 70%;
  margin-top: -23.5%;
}

.pr21{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 70%;
}

.pr0index{
  width: 27%;
  margin-left: 2%;
}

.pr01index{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 2%;
}

.pr1index{
  width: 27%;
  margin-left: 36%;
  margin-top: -23.5%;
}

.pr11index{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 36%;
}

.pr2index{
  width: 27%;
  margin-left: 70%;
  margin-top: -23.5%;
}

.pr21{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 70%;
}

.pr3{
  width: 27%;
  margin-left: 2%;
}

.pr31{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 2%;
}

.pr4{
  width: 27%;
  margin-left: 36%;
  margin-top: -23.5%;
}

.pr41{
  width: 27%;
  padding: 1%;
  color: black;
  text-align: center;
  margin-left: 36%;
}

/*
.product1{
  width: 27%;
  margin-left: 2%;
}

.product2{
  width: 27%;
  margin-left: 36%;
  margin-top: -23.4%;
}

.product3{
  width: 27%;
  margin-left: 70%;
  margin-top: -23.4%;
}

.product11{
  width: 27%;
  margin-left: 2%;
}

.product22{
width: 27%;
margin-left: 36%;
}

.product33{
  width: 27%;
  margin-left: 70%;
}
*/
.overzicht{
  margin-top: -1%;
}


/* ============================================================================== */
/* ============================================================================== */
/* ======================      INSTELLINGEN VOOR IPAD.    ===================== */
/* ============================================================================== */
/* ============================================================================== */


@media screen and (max-width: 1600px) {
  body {
    border: thick solid yellow;
  }
  
  #product{
  width: 100%;
  min-height: 400px;
  }
  
  .Projecten {
	  height: 450px;
  }
  
  .productblok {
	border: thin solid red;
	float: left;
	height: 300px;
	width: 300px;
	margin: 0 35px 0 35px;
  }
  
  #centerprojecten {
	border: thin solid yellow;
	width: 1125px;
	height: 300px;
	margin: 0 auto;
	}

  
  .product_foto {
	width: 300px;
	height: 275px;
  }
  
  .product_text {
	width: 300px;
	height: 50px;
	
  }
  
  .responsive_size_images {
	  width: 300px
  }
  
}

@media screen and (max-width: 1200px) {
  body {
    border: thick solid green;
  }
  
  #product{
  width: 100%;
  min-height: 400px;
  }
  
  .Projecten {
	  height: 1000px;
  }
  
  .productblok {
	border: thin solid red;
	clear: both;
	height: 200px;
	width: 200px;
	margin: 75px 25px 75px 25px;
  }
  
  #centerprojecten {
	border: thin solid yellow;
	width: 900px;
	height: 200px;
	margin: 0 auto;
	}

  
  .product_foto {
	width: 300px;
	height: 275px;
  }
  
  .product_text {
	width: 300px;
	height: 50px;
	
  }
  
  .responsive_size_images {
	  width: 300px
  }
  
}